{{page-title "Edit"}}
<div class="ui container">
  <div class="ui form">
    <div class="field">
      <Input class="form-control" type="text" @value={{@model.name}}></Input>
    </div>
    <a class="ui button green" {{action "editProduct" @model}}>Modifier</a>
  </div>
</div>
{{outlet}}