{{page-title "board"}}
<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" {{action "logout"}}>
    Logout
  </button>
</div>
<div class="ui grid">
  <div class="eight wide column">
    <LinkTo class="ui button green" @route="sections">Gérer le store</LinkTo>
  </div>
  <div class="eight wide column">
    <LinkTo class="ui button green" @route="myOrders">Gérer les commandes</LinkTo>
  </div>
</div>
{{outlet}}