{{page-title "Index"}}
<form class="ui form">
  <div class="field">
    <label for="id">Nom d'utilisateur</label>
    <input type="text" id="id">
  </div>
  <div class="field">
    <label for="pass">Mot de passe</label>
    <input type="password" id="pass">
  </div>
  <button class="ui button" type="submit">Connecter</button>
</form>
{{outlet}}