{{page-title "Logout"}}
<div class="ui segment">
  <div class="item">
    <p>Vous avez été deconnecté</p>
  </div>
  <div class="item">
    <button type="button" class="ui secondary button" {{action "accueil"}}><i class="home icon"></i> Retourner à l'accueil</button>
  </div>
</div>
{{outlet}}